* {
    box-sizing: border-box
} 

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #DBBEA1FF;
    font-family: verdana, georgia, arial;
}

header h1 {
    margin: 0;
    padding: 96px 0;
    padding-bottom: 0;
    color: #D34F73FF;
    font-family: 'DS-Digital', verdana, georgia;
    font-size: 96px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    border: 2px solid #3E282BFF;
    border-radius: 12px;
    background-color: #3E282BFF;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
}

.screen {
    height: 48px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    font-size: 48px;
    font-family: 'DS-Digital', verdana, georgia;
}

button {
    height: 48px;
    background-color: #A37B73FF;
    border: none;
    border-radius: 4px;
}

.clear {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4px;
}

.buttons button {
    flex: 1 0 20%;
}

footer {
    padding: 24px 0;
    background-color: #D34F73FF;
}